*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 100vh;
    background-image: url('./images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-description{
    /* height: 550px; */
    width: 450px;
    position: absolute;
    bottom: 150px;
    right: 200px;
}
.header-title{
    font-size: 70px;
    text-align: right;
}
.para{
    color: gray;
    margin: 10px;
    text-align: right;
    font-size: 18px;
}
.contact-btn{
    padding: 15px 30px;
    background-color: #F15B22;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
.failor-container{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.plan-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 100px;
}

.failor-image img{
    width: 600px;
}
.failor-title{
    font-size: 50px;
}
.failor-description{
    width: 30%;
}
.failor-description p{
    text-align: left;
}
.icon-para p,i{
    display: inline-block
}
.icon-para i{
    color: red;
}
.plan-title{
    font-size: 50px;
}
.card p{
    text-align: center;
    font-size: 25px;
}
.plan-card{
    display: flex;
    
}
.card{
    height: 300px;
    width: 250px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.plan-item{
    font-size: 30px;
}
.mindset-container{
    height: 250px;
    width: 70vw;
    background-image: url('./images/watch.png') ,linear-gradient(to right,rgba(255, 0, 0, 0.75),rgba(255, 255, 0, 0));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px auto;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.white-btn{
    padding: 10px;
    width: 120px;
    height: 50px;
    border: 0px;
    border-radius: 15px;
    margin: 10px 0px;
}
.mindset-description{
    width: 30vw;
}
.mindset-title{
    color: white;
    font-size: 40px;
}